<div class="icon">
  <a class="icon__cta" href="{{ section.settings['cta'] }}">
    <img class="icon__img" src="{{ section.settings['image'] | img_url: '800x' }}" />
    <p class="icon__text">{{ section.settings['title'] }}</p>
  </a>
</div>

{% schema %}
{
  "name": "Icon",
    "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Icon image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "cta",
      "label": "Call To Action"
    }
  ],
  "presets": [
    {
      "name": "Icon",
      "category": "text"
    }
  ]
}
{% endschema %}