@font-face {
  font-family: 'palatino';
  src: url('../../shopify/assets/palatino.static.eot');
  src: url('../../shopify/assets/palatino.static.eot?#iefix') format('embedded-opentype'),
      url('../../shopify/assets/palatino.static.woff2') format('woff2'),
      url('../../shopify/assets/palatino.static.woff') format('woff'),
      url('../../shopify/assets/palatino.static.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}