@import "colors";
@import "fonts";
@import "breakpoints";

body {
  background-color: $darkGray;
  color: white;
  font-family: 'palatino', Times, serif;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

#preview-bar-iframe {
  display: none;
}